:root {
  --footer-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p, h1,h2,h3,h4,h5,h6 {
 margin: 0;
 padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding:  0 15px;
  margin: 0 auto;
}

.conteiner-narrow {
  width: 1128px;

}
/* header */

.container .header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-conteiner {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 24px;
gap: 40px;
}

.conteiner-logo {
  display: flex;
  
  width: 115;
height: 24px;
align-items: center; 
opacity: 1;
top: 24px;
left: 156px;

}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
 }
  
.logo-part {
  color: #2e2f42;
 }

.header-nav {
  display: flex;
  align-items: center; 
}

.container-menu {
 display: flex;
 justify-content: space-between;
 align-items: center; 
 gap: 40px;
}
.header-menu-link1 {
color: #2e2f42;
padding:24px 0;
gap: 40px;
}

.header-menu-link2 {
  color: #2e2f42;
  padding:24px 0;
  gap: 40px;
}

.header-menu-link3 {
  color: #2e2f42;
  padding:24px 0;
  gap: 40px;
  margin-right: 0;
}

.header-contacts {
display: flex;
align-items: center;
gap: 40px;
}

.header-menu-link
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: #434455;
}
.header-menu-link {
  color: #2e2f42;
  width: 261;
height: 24;
text-decoration: none;
opacity: 1;
left: 347px;
padding-top: 24px;
padding-bottom: 24px;
gap: 40px;
margin-right: 0;}

.header-menu-link:hover,
.header-menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts-list{
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: nowrap;
} 
.contacts-mail {
  width: 153;
height: 24;
opacity: 1;
margin-top: 24px;
margin-left: 940px;
/* justify-content: space-between;
align-items: center;
wrap: nowrap; */
gap: 40px;
}
.contacts-tel {
  width: 151;
height: 24;
opacity: 1;
margin-top: 24px;
margin-left: 1133px;
margin-right: 0;
justify-content: space-between;
align-items: center;
gap: 40px;
margin-right: 0;
}

/* hero, section-1 */

.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-bottom: 72px; 
}


.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: auto 260px;
  column-gap: 38px;
   row-gap: 19px; 
 }
  
  .hero-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  margin-left: 428px;
  margin-top: 120px; 
  gap: 10px;
 }

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
 }

/* features,section-2 */

.features-section {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
 }

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
 }

 .features-list {
  display: flex;
  gap: 24px;
 }
.features-item {
  width: calc((100% - 72px) / 4);
} 

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
 }

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }

/* team,section-3 */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title{
line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
  margin-bottom: 72px;

}
.team-list {
  display: flex;
  align-items: center;
  justify: space-between;
  gap: 24px;
  width: calc( (100% - 72px) / 4);
}

.conteiner-card .card-mark {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  display: block;
  padding: 32px 0;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
   0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc( (100% - 72px) / 4);
}

.card-mark .team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px
}

card-mark .team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.conteiner-card .card-tom {
  background-color: #FFFFFF;
  display: block;
  border-radius: 0 0 4px 4px;
  padding: 32px 0;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
   0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc( (100% - 72px) / 4);
}

.card-tom .team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px  
}

.card-tom .team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455; 
}

.conteiner-card .card-camila {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;display: block;
  padding: 32px 0;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
   0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc( (100% - 72px) / 4);
}

.card-camila .team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px  
}

.card-camila .team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455; 
}

.conteiner-card .card-dani {
background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  display: block;
  padding: 32px 0;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
   0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-right: 0;
  width: calc( (100% - 72px) / 4);
}

.card-dani .team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px  
}

.card-dani .team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455; 
}

/* portfolio,section-4 */

.portfolio-section {
  padding: 32px 16px;
  border: 0, 0, 1px solid #e7e9fc;
  border-top: none; 
}
.conteiner-narrow {
  background-color: #fff;
  display: flex
   }

 .portfolio-list {
width: 360;
height: 420;
padding:20px;
opacity: 1;
justify-content: space-between;
display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc( (100% - 48px) / 3);
}
.portfolio-item-first{
  width: 360;
  height: 300;
  opacity: 1;
  column-gap: 24px;
  row-gap: 48px;
  margin-left: 156px;
  margin-top: 72px;
  margin-bottom: 48px;
  justify-content: space-between;
 background-color: #FFFFFF;
}
.portfolio-item-second {
width: 360;
  height: 300;
  opacity: 1;
  column-gap: 24px;
  row-gap: 48px;
  margin-left: 156px;
  margin-bottom: 0;
  justify-content: space-between;
 background-color: #FFFFFF;  
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  border-bottom: 1px;
  margin-bottom: 8px;
}

.portfolio-item.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  width: 360;
height: 120;
angle: 0 deg;
opacity: 1;
top: 300px;
gap: 8px;
border: 1px;
padding: 32px 16px;
}

/* footer  */

.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}